@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-background: light-dark(white, #121212);
}

body {
  background-color: var(--color-background);
}

textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar {
  display: none;
}
