@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-text-dimmed: light-dark(#555555, #dddddd);
  --ui-text-muted: light-dark(#aaaaaa, #dddddd);
  --ui-text-toned: light-dark(#aaaaaa, #dddddd);
  --ui-text: light-dark(#191919, #dddddd);
  --foreground: var(--ui-text);
  --muted-foreground: light-dark(#aaaaaa, #dddddda7);
}

@theme {
  --color-background: light-dark(white, #121212);
  --text-large: 1.4em;
  --text-medium: 1.05em;
  --text-small: 0.94em;
  --text-tooltip: 0.88em;
  --size-large: 1.45em;
  --text-icon: 1.26em;
  --font-sans: "Inter", "Gulzar", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
}

textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-display: swap;
  corner-shape: squircle;
}

.iconify.i-ri\:openai-fill {
  @apply size-5.75;
}

.alter-input [data-slot="base"] {
  font-size: var(--text-small) !important;
}

.shadow-inner {
  --tw-shadow: inset 0 -1.2px 0.7px 0 var(--tw-shadow-color, rgb(0 0 0 / 0));
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
    var(--tw-ring-shadow), var(--tw-shadow);
}
